* a
{
padding:0px;
margin:0;
 color:rgba(0, 0, 0, 0.821);
}
body{
    background: linear-gradient(150deg, #53b4b4e7, hsl(348, 54%, 67%));

}
.contact
{
    background-color: rgba(51, 51, 238, 0.828);
   padding-top: 10px;
    margin-top: 20px;
    width:100%;
    height:300px;
    border-radius: 10px;
    justify-content:space-evenly;
    display: flex;

    
}
.touch
{
    font-size: x-large;
}
.maincontact
{
    width:110px;
    height:110px; 
    border-radius: 50%;
    margin-left: 44%;
    background-image: url("satish.jpg");
    background-size: cover;

}
#name
{
text-align: center;
font-size: x-large;

}
